body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #fff0c0;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #a7c957;
  padding: 0;
  align-items: center;
  display: flex;
  justify-content: space-around;
  z-index: 1000;
  transition: top 0.3s;
}

.navbar.hidden {
  top: -100px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.navbar li {
margin: 0 1rem;
}


.navbar a {
color: #588157;
text-decoration: none;
font-family: 'Mansalva';
font-weight: bold;
font-size: 1.5rem;
}

.navbar ul {
  display: flex;
}

.nav-links {
  display: flex;
  gap: 60px;
  flex-direction: row;
  align-items: center;
  list-style: none;
  font-family: 'Mansalva';
  font-size: 1.3rem;
  margin-top: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #588157;
  font-weight: bold;
}

.nav-links a:hover {
  background-color: #ffc716;
  padding: 8px;
  border-radius: 25px;
}

.home-button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.website-logo {
  width: 70px;
  height: 70px;
}

.github-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;       
  border: none;
}

.github-icon {
  width: 100%;    
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.github-icon {
  height: 35px;
  width: auto;
  color: #ffc716;
}

.github-icon:hover {
  color: #333;
}

main {
  padding-top: 100px;
}

.about-container {
  display: flex;
  padding: 3rem 2rem;
  background-color: #fff0c0;
}

.about-card {
  background-color: transparent; 
  border: #fff0c0;
  padding: 1rem;
  font-size: 1.1rem;
  color: #344e41;  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-card:hover {
  transform: translateY(-5px); 
  box-shadow: 10px 10px 0px rgb(245, 191, 98);  
}

.text-section {
  flex: 1;
  padding-right: 2rem;
  color: #588157;
}

.card-text {
  text-align: justify;
  color: #588157;
  flex: 1;
}

.text-section h1.aspirations-heading {
  margin-top: 50px;
  color: #ffc716;
  font-family: 'Gochi Hand';
  font-size: 3rem;
}

.text-section h1.aspirations-heading:hover {
  color: #588157;
}

h2 {
  color: #ffc716;
  margin-top: 50px;
  font-family: 'Gochi Hand';
}

p {
  font-size: 1.5rem;
}

.text-section h2:hover {
  color: #588157;
}

.text-section h1 {
  color: #588157;
  margin-bottom: 1rem;
  font-family: 'Poppins';
}

.text-section p {
  color: #588157;
  line-height: 1.5;
  text-align: left;
  font-family: 'Poppins';
  font-size: 2rem;
}

.certification-container {
  display: flex;
  padding: 3rem 2rem;
  background-color: #fff0c0;
}

.text-certif h1 {
  color: #ffc716;
  margin-top: 50px;
  font-family: 'Gochi Hand';
  text-align: center;
  font-size: 3.5rem;
}

.text-certif h1:hover{
  color: #588157;
}

.text-certif p{
  color: #588157;
  line-height: 1.5;
  text-align: left;
  font-family: 'Poppins';
  font-size: 1.8rem;
}

.card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  border-radius: rem;
}

.card:hover {
  transform: translateY(-5px);
}