body {
  text-align: center;
  background-color: #fff0c0;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #a7c957;
  padding: 0;
  align-items: center;
  z-index: 1000;
  transition: top 0.3s;
}


.navbar.hidden {
  top: -100px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar li {
  margin: 0 1rem;
}

.navbar a {
  color: #588157;
  text-decoration: none;
  font-family: 'Mansalva';
  font-weight: bold;
  font-size: 1.5rem;
}

/* .img-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background-color: white;
  border-radius: 50%;       
  width: 80px;              
  height: 80px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2); 
}

.github-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background-color: white;
  border-radius: 50%;       
  width: 50px;              
  height: 50px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2); 
} */

/* .home-logo, .github-icon {
  width: 100%;    
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.github-icon {
  height: 35px;
  width: auto;
  color: #ffc716;
}

.github-icon:hover {
  color: #333;
}

.img-button, .github-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a:hover {
  background-color: #ffc716;
  border-radius: 50px;
  padding: 10px;
}

.img-frame {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
} */

.navbar {
  width: 100%;
  height: 90px;
  background-color: #a7c957;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar ul {
  display: flex;
  /* margin-top: 20px; */
}

.nav-links {
  display: flex;
  gap: 60px;
  flex-direction: row;
  align-items: center;
  list-style: none;
  font-family: 'Mansalva';
  font-size: 1.3rem;
  margin-top: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #588157;
  font-weight: bold;
}

.nav-links a:hover {
  background-color: #ffc716;
  padding: 8px;
  border-radius: 25px;
}

.home-button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.website-logo {
  width: 70px;
  height: 70px;
}

.github-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;       
  border: none;
}

.github-icon {
  width: 100%;    
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.github-icon {
  height: 35px;
  width: auto;
  color: #ffc716;
}

.github-icon:hover {
  color: #333;
}

main {
  padding-top: 100px;
  min-height: 200vh;
}

h1 {
  margin-top: 150px;
  margin-bottom: 20px;
  font-family: "Gochi Hand";
  color: #588157;
  font-weight: 400;
  font-style: italic;
  font-size: 3.5rem;
}

p {
  margin-left: 55px;
  margin-bottom: 80px;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Poppins';
  color: #588157;
}

.contact-details {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
}

.contact-details a {
  text-decoration: none;
}

button.linkedin-button,
button.github-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a7c957;
  border: 2px solid #588157;
  border-radius: 12px;
  padding: 1rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

button.linkedin-button:hover {
  background-color: #0077b5;
  border-color: #0077b5;
}

button.linkedin-button:hover svg {
  color: white;
}

button.github-box:hover {
  background-color: #333;
  border-color: #333;
}

button.github-box:hover svg {
  color: white;
}

.linkedin-button svg,
.github-box svg {
  width: 24px;
  height: 24px;
  color: #333;
}

button.linkedin-button span,
button.github-box span {
  margin-left: 0.8rem;
  font-family: 'Poppins';
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

.contact-form {
  background-color: #ffc716;
  border: 4px solid #a7c957;
  border-radius: 10px;
  
  width: 80%;
  padding: 50px;
  margin: 40px auto;
  max-width: 600px;
  justify-content: center;
  align-items: center;
}

.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type='text'], .form-row input[type='email'] {
  background-color: #FFFFFF;
  border: 1px solid #588157;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
  font-family: "Poppins";
}

.form-row label {
  margin-bottom: 15px;
  font-family: "Poppins";
  text-align: left;
  color: #588157;
}

.form-row textarea {
  font-family: "Poppins";
  font-size: 14px;

  border: 1px solid #588157;
  border-radius: 3px;

  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;
}

.form-row button {
  font-size: 16px;
  font-weight: bold;
  font-family: "Poppins";

  color: #FFFFFF;
  background-color: #a7c957;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
}

.form-row button:hover {
  background-color: #407FC7;
}

.form-row button:active {
  background-color: #407FC7;
}
