body {
    text-align: center;
  }
  .circular-img {
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
    margin-top: 45px;
    border: 2px #f0b4ff;
  }
  .btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 20px;
    font-family: 'Montserrat', serif;
    cursor: pointer;
    border-radius: 20px;
  }
  .about, .techstack, .contact {
    border-color: #f0b4ff;
    color: purple;
    margin-right: 10px;
  }
  .btn:hover {
    background-color: #f0b4ff;
    color: purple;
  }
  p {
    margin-left: 10px;
    margin-bottom: 80px;
    font-family: 'Montserrat', serif;
    font-size: 20px;
  }
  h1{
    margin-bottom: 15px;
    margin-left: 10px;
    font-family: "Radley", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 50px;
  }
 
