body {
  font-family: 'Montserrat', serif;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensure body takes full height */
}

.circular-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 45px;
  border-color: #d98676;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: "Radley", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 50px;
}

p {
  margin-left: 10px;
  margin-bottom: 80px;
  font-family: 'Montserrat', serif;
  font-size: 20px;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 20px;
  font-family: 'Montserrat', serif;
  cursor: pointer;
  border-radius: 20px;
}

.about, .techstack, .contact {
  border-color: #f0b4ff;
  color: purple;
}

.btn:hover {
  background-color: #f0b4ff;
  color: purple;
}

body {
  background: linear-gradient(-45deg, #ffb5a7, #fcd5ce, #f8edeb, #f9dcc4, #fec89a, #d98676);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  margin-top: 40px; 
}

@media (max-width: 600px) {
  .btn {
    padding: 12px 24px;
    font-size: 16px;
  }

  .button-container {
    flex-direction: column; 
    gap: 15px; 
  }
}
